**/*.swp
*egg-info/
gimmemotifs/*.pyc
gimmemotifs/*.so
test/*.pyc
build/*
doc/*
!doc/*.tex
!doc/*.pdf
!doc/*.txt
!doc/*.md
docs/_build/*
data/examples/*
!data/examples/*.bed
!data/examples/*.fa
!data/examples/example.pfm
!data/examples/*jaspar
*.pyc
dist/*
website/**/*
.eggs/
.pytest_cache/
.cache/
**/.ipynb_checkpoints/
.idea/
.vscode
.coverage*
coverage.xml

test/data/maelstrom/activity*
test/data/maelstrom/final*
test/data/maelstrom/*png
test/data/maelstrom/motif.freq.txt
test/data/maelstrom/gimme.vertebrate.v3.1.motif2factors.txt
test/data/maelstrom/gimme.vertebrate.v3.1.pwm
test/data/maelstrom/input.table.txt
test/**/*fai

tmp/*

src/meme_4.6.0
src/meme_4.6.0/src/dir.h
src/BioProspector/BioProspector
src/MDmodule/MDmodule
