**/*.swp
*egg-info/
gimmemotifs/*.pyc
test/*.pyc
build/*
doc/*
!doc/*.tex
!doc/*.pdf
!doc/*.txt
!doc/*.md
docs/_build/*
examples/*
!examples/*.bed
!examples/*.fa
*.pyc
dist/*
website/**/*


tmp/*

src/meme_4.6.0
src/meme_4.6.0/src/dir.h
src/BioProspector/BioProspector
src/MDmodule/MDmodule
src/Algorithm-Cluster-1.49/
src/GADEM_v1.3/src/*.o
src/GADEM_v1.3/src/.deps/
src/GADEM_v1.3/src/gadem
src/GADEM_v1.3/config.log
src/GADEM_v1.3/config.status
src/GADEM_v1.3/src/Makefile
src/GADEM_v1.3/Makefile
src/GADEM_v1.3/autom4te.cache/output.0t
src/GADEM_v1.3/autom4te.cache/traces.0t

# Homer compiled files
src/homer/bin/analyzeHiC
src/homer/bin/assignGenomeAnnotation
src/homer/bin/findPeaks
src/homer/bin/genomeOntology
src/homer/bin/getDifferentialPeaks
src/homer/bin/getGenomeTilingPeaks
src/homer/bin/getMappableRegions
src/homer/bin/getPeakTags
src/homer/bin/homer
src/homer/bin/homer2
src/homer/bin/homerTools
src/homer/bin/makeTagDirectory
src/homer/bin/makeUCSCfile
src/homer/bin/mergePeaks
src/homer/cpp/Clustering.o
src/homer/cpp/CommandLine.o
src/homer/cpp/Hashtable.o
src/homer/cpp/Motif.o
src/homer/cpp/Motif2.o
src/homer/cpp/SeqTag.o
src/homer/cpp/analyzeHiC
src/homer/cpp/analyzeHiC.o
src/homer/cpp/assignGenomeAnnotation
src/homer/cpp/assignGenomeAnnotation.o
src/homer/cpp/findPeaks
src/homer/cpp/findPeaks.o
src/homer/cpp/genomeOntology
src/homer/cpp/genomeOntology.o
src/homer/cpp/getDifferentialPeaks
src/homer/cpp/getDifferentialPeaks.o
src/homer/cpp/getGenomeCorrelation.o
src/homer/cpp/getGenomeTilingPeaks
src/homer/cpp/getMappableRegions
src/homer/cpp/getMappableRegions.o
src/homer/cpp/getPeakTags
src/homer/cpp/getPeakTags.o
src/homer/cpp/homer
src/homer/cpp/homer.o
src/homer/cpp/homer2
src/homer/cpp/homer2.o
src/homer/cpp/homerTools
src/homer/cpp/homerTools.o
src/homer/cpp/makeTagDirectory
src/homer/cpp/makeTagDirectory.o
src/homer/cpp/makeUCSCfile
src/homer/cpp/makeUCSCfile.o
src/homer/cpp/mergePeaks
src/homer/cpp/mergePeaks.o
src/homer/cpp/statistics.o
