include README.md
include MANIFEST
include INSTALL
include COPYING
include CHANGELOG.md
include run_tests.py
include compile_externals.py
include cfg/gimmemotifs.cfg.example
include examples/TAp73alpha.bed
include examples/TAp73alpha.fa
include genes/*.bed
include motif_databases/*.pwm
include motif_databases/*.txt
include motif_databases/*.README
include score_dists/*.txt
include templates/*.html
include templates/*.png
include templates/sortable/*
recursive-include src *
recursive-include test/data/ *
include test/*.py
include test/data/*/*
include bg/*.bg

